
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .deneme {
        font-size: 30px;
        text-align: center;
    }
    .deneme2{
        background-color:aqua;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="deneme2">
    
    <p class="deneme">Merhabalar</p>
    <p class="deneme">Eski güzel günlere dönüş partisine Hoşgeldiniz </p>
    <p class="deneme"><a href="/Home/Register">Eski güzel günlere dönüş partisine kayıt yaptırmak için tıklayınız</a></p>
</body>
</html>
