
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .deneme2 {
        font-size: 30px;
        text-align: center;
    }
    .deneme {
        background-color: aqua;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body class="deneme">
    <p class="deneme2">Kayıt olduğunuz için teşekkür ederiz.</p>
</body>
</html>
